.modal {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 80%;
    background: black;
    color: white;
    box-shadow: 0 2px 8px rgba(32, 32, 32, 0.26);
    border-radius: 8px;
    text-align: center;
    padding: 2em;
    font-size: 1.3em
}
    .modal-exit{
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .modal-header{
        font-size: 2em;
    }
    .modal a{
        color: #1DB954;
        text-decoration: underline #1DB954;
    }
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(64, 64, 64, 0.75);
    z-index: 10;
}