.navigation
{
	width: auto;
	display: flex;
	justify-content: space-between;
	background-color: black;
	color: white;
	height: 3em;
	border-bottom: solid 1px #222;
	}
	.navigation-title
	{
		padding: 1px 5px;
		font-size: 2em;
		font-weight: 600;
	}
	.navigation-logout
	{
		list-style: none;
		margin: auto 5px;
		text-decoration: none;
		color: white;
		padding: 0.5em;
		line-height: 1em;
		border-radius: 1em;
		font-weight: 600;
	}
	.navigation-logout:hover
	{
		text-decoration: underline;
		text-decoration-color: #1db954;
		text-decoration-thickness: 0.2em;
	}
	.navigation-logout:active
	{
		text-decoration: underline;
		text-decoration-color: #b92d54;
		text-decoration-thickness: 0.3em;
	}
	
	.navigation-shoutout
	{
		line-height: 3em;
		font-size: 1em;
		padding: 1px 5px;
	}

@media screen and (max-width: 500px){
	.navigation-title
	{
		font-size: 1.6em;
		line-height: 1.6em;
	}
	.navigation-shoutout
	{
		display: none;
	}
}