@font-face {
    font-family: Circular;
    src: url(https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-medium.woff2) format("woff2"), url(https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-medium.woff) format("woff");
    font-weight: 500;
    font-style:normal
  }
.auth-container{
    text-align: center;
}  
  .auth-container__button{
      padding: 0.5em;
      font-family: Circular;
      font-size: 1rem;
      background-color: #1db954;
      color: white;
      border-radius: 1.5em;
      border: none;
  }